---
import { Image } from "astro:assets"
const { img, alt, postTitle, excerpt, imgHeight = 100 } = Astro.props
---
<div class="flex flex-row gap-5">
    <div>
        <Image src={img} alt={alt} height={imgHeight} />
    </div>
    <div class="space-content">
        <a href="/blog/welcome">{postTitle}</a>
        <p>{excerpt}</p>
    </div>
</div>
