---
const { href, index, citation, heading, hasSource = true } = Astro.props;
---

<li class="pb-4 flex flex-col gap-3">
    <h5 id=`footnote-${index}`>{index}. {heading}</h5>

    <div class="leading-7 flex flex-col gap-3">
        <slot/>
    </div>
    <div class={hasSource ? "" : "hidden"}>
        <span>Source: </span>
        <a href={href}>{citation}</a>
    </div>
</li>

<style>
    h5:target {
        background-color: #ffff0059;
        padding: 0.25rem 0.25rem 0.25rem 0;
    }
</style>
