---
import { ViewTransitions } from 'astro:transitions'
import {log} from "astro/dist/core/logger/core";

const { title, description, image, author } = Astro.props

let subtitle = 'Decriminalize Nature Madison'

const canonicalPageURL = new URL(Astro.url.pathname, Astro.site)
const logoUrl = new URL("/img/logo-filled.svg", Astro.site)
---

<!-- general meta -->
<meta name="title" content={`${title} - ${subtitle}`} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:title" content={`${title} - ${subtitle}`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalPageURL} />
<meta property="og:image" content={logoUrl} />

<!-- twitter card -->

<!-- page title -->
<title>{title} - {subtitle}</title>

<ViewTransitions />
