---
import DefaultLayout from "./DefaultLayout.astro";
import Sidebar from "../components/Sidebar.astro";
const {
    title,
    image,
    alt,
    heading,
    description,
    } = Astro.props;
---
<DefaultLayout title={title}>
    <section class="mb-12">
        <div class="container">
            <div class="flex gap-5 flex-row flex-wrap md:flex-nowrap lg:flex-nowrap">
                <div class="flex-shrink-0">
                    <Sidebar
                            image={image}
                            alt={alt}
                            heading={heading}
                            description={description}
                    />
                </div>
                <div class="space-content max-sm:px-2">
                    <slot/>
                </div>
            </div>
        </div>
    </section>
</DefaultLayout>

<style>
    .container {
        padding: 0;
    }


</style>
